In [2]:
pip install pandas

Requirement already satisfied: pandas in d:\anaconda\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in d:\anaconda\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\anaconda\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in d:\anaconda\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in d:\anaconda\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in d:\anaconda\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import numpy as np

In [4]:
# Liste şeklinde tanımlama ==> (List shaped definition)
seri_notlar = pd.Series([50,55,45,80,85])
seri_notlar

0    50
1    55
2    45
3    80
4    85
dtype: int64

In [5]:
seri_notlar.index = ["3010","3011","3012","3013","3012"]
seri_notlar

3010    50
3011    55
3012    45
3013    80
3012    85
dtype: int64

In [6]:
type(seri_notlar)

pandas.core.series.Series

In [7]:
for i in seri_notlar.values:
    if i > 50:
        print("Geçti (Passed) ")
    else:
        print("Kaldı (Stayed) ")

Kaldı (Stayed)
Geçti (Passed)
Kaldı (Stayed)
Geçti (Passed)
Geçti (Passed)

In [8]:
#Dictionary olarak Series tanımlama ==> (Defining Series as Dictionary)
seri_final = pd.Series({'3015':80,'3016':70,'3017':52,'3018':25,'3019':45})
seri_final

3015    80
3016    70
3017    52
3018    25
3019    45
dtype: int64

In [9]:
seri_final.values

array([80, 70, 52, 25, 45], dtype=int64)

In [12]:
#Örnek
# Vize notları ile final notlarını toplayıp, ikiye bölün.
# Elde ettiğiniz değerleri, yeni bir seriye aktarın

#example
#Add the midterm grades and final grades and divide by two.
#Transfer the values you obtained to a new series.

son_not = (seri_notlar.values + seri_final.values) / 2
son_not

array([65. , 62.5, 48.5, 52.5, 65. ])

In [15]:
seri_son_not = pd.Series(son_not,index=["Öğrenci_1 (student_1)","Öğrenci_2 (student_2)","Öğrenci_3 (student_3) " ,"Öğrenci_4 (student_4) ","Öğrenci_5 (student_5) ",])
seri_son_not

Öğrenci_1 (student_1)     65.0
Öğrenci_2 (student_2)     62.5
Öğrenci_3 (student_3)     48.5
Öğrenci_4 (student_4)     52.5
Öğrenci_5 (student_5)     65.0
dtype: float64

In [16]:
for i in seri_son_not.values:
    if i > 50:
        print("Geçti (Passed)")
    else:
        print("Kaldı (Stayed) ")

Geçti (Passed)
Geçti (Passed)
Kaldı (Stayed)
Geçti (Passed)
Geçti (Passed)

In [17]:
# vize notları ile final notlarını tek bir seride birleştirme ==> (Combining midterm grades and final grades into a single series)

birlesik_notlar = pd.concat([seri_notlar,seri_final])
birlesik_notlar

3010    50
3011    55
3012    45
3013    80
3012    85
3015    80
3016    70
3017    52
3018    25
3019    45
dtype: int64

In [18]:
# DataFrame
# DataFrame, tamamen tablo mantığına göre çalışır. ==> (DataFrame works entirely according to table logic.)
# Series'den en önemli farkı, birden fazla sütun değerinin olmasıdır (Tablo gibi) ==> (The most important difference in Series is that it has more than one column value (like a table).)

# ilk DataFrame tanımlama ==> (First DataFrame)
my_df1 = pd.DataFrame([80,85,70,65,50,45,30])
my_df1

    0
0  80
1  85
2  70
3  65
4  50
5  45
6  30

In [19]:
my_df1.index = ["Ogr_1","Ogr_2","Ogr_3","Ogr_4","Ogr_5","Ogr_6","Ogr_7",]
my_df1

        0
Ogr_1  80
Ogr_2  85
Ogr_3  70
Ogr_4  65
Ogr_5  50
Ogr_6  45
Ogr_7  30

In [20]:
my_df1.columns = ["Notlar"]
my_df1

       Notlar
Ogr_1      80
Ogr_2      85
Ogr_3      70
Ogr_4      65
Ogr_5      50
Ogr_6      45
Ogr_7      30

In [21]:
my_dict_1 = {'Vize':seri_notlar.values,'Final':seri_final.values,'Geçme Notu':seri_son_not.values}
my_df2 = pd.DataFrame(my_dict_1)
my_df2

   Vize  Final  Geçme Notu
0    50     80        65.0
1    55     70        62.5
2    45     52        48.5
3    80     25        52.5
4    85     45        65.0

In [22]:
my_df2.index = ["Öğrenci_1","Öğrenci_2","Öğrenci_3","Öğrenci_4","Öğrenci_5",]
my_df2

           Vize  Final  Geçme Notu
Öğrenci_1    50     80        65.0
Öğrenci_2    55     70        62.5
Öğrenci_3    45     52        48.5
Öğrenci_4    80     25        52.5
Öğrenci_5    85     45        65.0

In [23]:
my_df2["Mantıksal_Geçme"] = my_df2["Geçme Notu"] > 50
my_df2

           Vize  Final  Geçme Notu  Mantıksal_Geçme
Öğrenci_1    50     80        65.0             True
Öğrenci_2    55     70        62.5             True
Öğrenci_3    45     52        48.5            False
Öğrenci_4    80     25        52.5             True
Öğrenci_5    85     45        65.0             True

In [24]:
# DataFrame'ye yeni bir sütun ekleme ==>(Adding a new column to DataFrame)
my_df2["Mantıksal_Geçme"] = [True,True,False,True,True]
my_df2

           Vize  Final  Geçme Notu  Mantıksal_Geçme
Öğrenci_1    50     80        65.0             True
Öğrenci_2    55     70        62.5             True
Öğrenci_3    45     52        48.5            False
Öğrenci_4    80     25        52.5             True
Öğrenci_5    85     45        65.0             True